{% block body %}


{% if act == 'plotarea' %}
<form action=plotarea method=POST>
<table border=1 cellpadding=5>
<!--<input type=hidden name='objnumber' value='plotarea'>-->
<tr><td><b>Adjust Deck Dimensions</b><br>
<b>Length: </b><input type=text name=len size=6 value={{confdat['deck']['plx']}}><br>
<b>Width: </b><input type=text name=wid size=6 value={{confdat['deck']['ply']}}></td>
<td>
</td>
<td><input type=submit name='Submit'></td></tr>

<tr><td>
<b>Display Object Names:</b>
{% if dat['disobjs'] == 1 %}
<input type=radio name=disobjs value=1 checked>Yes
<input type=radio name=disobjs value=0>No 
{% else %}
<input type=radio name=disobjs value=1>Yes
<input type=radio name=disobjs value=0 checked>No 
{%endif%}


</td>
<td><b>Display Plot Head: </b>
{% if dat['displothead'] == 1 %}
<input type=radio name=displothead value=1 checked>Yes
<input type=radio name=displothead value=0>No 
{% else %}
<input type=radio name=displothead value=1>Yes
<input type=radio name=displothead value=0 checked>No 
{%endif%}

</td>
<td><b><b>Plot Head Position: </b><br>
<b>X: </b><input type=text name=pxpos size=6 value={{dat['pxpos']}}><br>
<b>Y: </b><input type=text name=pypos size=6 value={{dat['pypos']}}></td>
</tr>
</table>
</form>
</td><tr>
<tr><td>
<p>
</td></tr> 
</table>


{% include "gui.plotarea.processing.html" %}
<canvas id="plotarea" width="2" height="2"></canvas></p>

<script type="text/javascript">  
  var bound = false;  
  
  function bindJavascript() {  
     var pjs = Processing.getInstanceById("plotarea");  
     if(pjs!=null) {  
        pjs.bindJavascript(this);  
        bound = true; }  
     if(!bound) setTimeout(bindJavascript, 250);   
       }  
     bindJavascript();  
  
     function showXYCoordinates(x, y) {  
        document.getElementById('xcoord').value = x;  
        document.getElementById('ycoord').value = y;   
    }  
</script> 
x/y: <input type="textfield" id="xcoord"/>/<input type="textfield" id="ycoord"/>

{% endif %}






{% if act == 'plothead' %}
<form action=plothead method=POST>
<input type=hidden name='img' value='plothead'>
<table border=1 cellpadding=5>
<tr>
<td><b>Adjust Plotter Head</b><br>
<b>Length: </b><input type=text name=len size=6 value={{confdat['plothead']['x']}}><br>
<b>Width: </b><input type=text name=wid size=6 value={{confdat['plothead']['y']}}></td>
<td valign=top><b>Spotting Pins<br>
Rows: <input type=text name=tipy size=6 value={{confdat['plothead']['tipy']}}> Spacing: <input type=text name=ysp size=6 value={{confdat['plothead']['ysp']}}><br>
Columns: <input type=text name=tipx size=6 value={{confdat['plothead']['tipx']}}> Spacing: <input type=text name=xsp size=6 value={{confdat['plothead']['xsp']}}><br>
X position: <input type=text name=posx size=6 value={{confdat['plothead']['posx']}}> <br>
Y position: <input type=text name=posy size=6 value={{confdat['plothead']['posy']}}> 
</td>
<td><b>Reference Tip</b><br>
<input type=text name=reftip size=6 value={{confdat['plothead']['reftip']}}>
</td>
<td><input type=submit name='Submit'></td>
</tr>
<tr>
<td><b>Camera Mount<br>
X position: <input type=text name=camx size=6 value={{confdat['plothead']['camx']}}> <br>
Y position: <input type=text name=camy size=6 value={{confdat['plothead']['camy']}}> <br>
Diameter: <input type=text name=camdiam size=6 value={{confdat['plothead']['camdiam']}}>
</b>
</td>

</tr>

</table>
</form>
</table>

{% include "gui.plothead.processing.html" %}
<canvas id="plothead" width="5" height="5"></canvas></p>

{% endif %}


{% if act == 'objectexists' %}

<b><font color=red>Sorry {{objname}} target already exists</font></b>

{% endif %}



{% if act == 'newobject' %}

<!--<div style="float:left;width:50%;background:#FFFFCC;" class="contentToChange">-->
{% if error == 'y' %}
<b><font color=red>{{objname}} already exits! Please reenter data</font></b>
{% endif %}
{% include "gui.object.form.html" %}
<br/>

<p>
{% endif %}


{% if act == 'modifyobject' %}
<p>
<p>
<form action=selectobject method=POST>
<select name="object">
{% set cnt=0 %}
{% for fl in confdat['objlist'] %}
  {% if cnt==objnumber %}
<option value={{cnt}} selected="yes">{{fl['name']}}</option>
  {% else %}
<option value={{cnt}}>{{fl['name']}}</option>
  {%endif%}
{%set cnt = cnt + 1%}
{% endfor %}
</select>
<input type=submit value="Select Object">
</form>
<hr>
<p>
<b>Note: There are <font color=red>{{ confdat['plothead']['tipy'] * confdat['plothead']['tipx'] }}</font> tips: columns - <font color=red>{{confdat['plothead']['tipx']}}</font> space - <font color=red>{{confdat['plothead']['xsp'] }}</font>mm and rows - <font color=red>{{confdat['plothead']['tipy']}}</font> space - <font color=red>{{confdat['plothead']['ysp']}}</font>mm</b><p>
<table><tr><td valign=top>
{% include "gui.modify.object.form.html" %}
</td>
</tr></table>

{% endif %}


{% if act == 'assemblegcode' %}
<b>Note: There are <font color=red>{{ confdat['plothead']['tipy'] * confdat['plothead']['tipx'] }}</font> tips: columns - <font color=red>{{confdat['plothead']['tipx']}}</font> space - <font color=red>{{confdat['plothead']['xsp'] }}</font>mm and rows - <font color=red>{{confdat['plothead']['tipy']}}</font> space - <font color=red>{{confdat['plothead']['ysp']}}</font>mm</b><p>

<table cellpadding=5><tr><td valign=top>
<pre>
<b>Command Syntax</b>
<font size=1>
 Example:
  obj:wash1,v:1,t:30,f:50 (wash bowl 1, valve 1, wash time 30 seconds)
  obj:sourceplate,sr:1,sc:2 (source plate, row, col)
  obj:slides,tbr:1,ter:1,tbc:1,tec:5,sbr:1,ser:2,sbc:1,sec:5 (microarray spotting)

 Speed
  f: feed rate mm/sec (if not called goes to default speed)
 Positioning to object 
  obj: object name
  tbr: target begin row 
  ter: target end row 
  tbr: target begin col 
  ter: target end col 
  bbr: block begin row 
  ber: block end row 
  bbc: block begin col 
  bec: block end col 
  sbr: spot begin row 
  ser: spot end row 
  sbr: spot begin col 
  ser: spot end col 
 Wash
  obj: object name
  v: valve
  t: time
Comment out ()
</font>
</pre>
</td><td valign=top>


<style type="text/css">
* { font-family: Verdana; font-size: 96%; }
label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
p { clear: both; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }
</style>

<fieldset>
<legend>Running python script:</legend>
<p>
Currently two you need to download:
<ul>
<li><b><a href=downloads/data.txt>workplatefilename</a></b> - The workplate object properties </li>
<li><b><a href=downloads/gcode.formatter.py>gcode.formatter.py</a></b> - The python script used to generate gcode</li>
</ul>

Once downloading it is possible to run the script:
<pre>
 <i>python gcode.formatter.py workplatefilename</i>
</pre>
<p>
Note: It is necessary to install python 2.7 
<p>




</fieldset>



</td></tr></table>

{% endif %}


{% endblock %}

